In [1]:
import os

#### file directory for Bert model specific
```
├── BERT_method
│   ├── bert                      <- very thing Bert related is stored in this folder.
|       |                             Download and save the pre-trained model from official BERT Github page:
|       |                             https://github.com/google-research/bert
|       ├── data                  <- Make sure all the .tsv files are in a folder named “data”
│       ├── bert_output           <- create the folder “bert_output” where the fine tuned model will
|       |                            be saved and test results are generated under the name “test_results.tsv“
│       └── cased_L-12_H-768_A-12 <- unzip the downloaded pre-trained BERT model in the directory 
│
├── notebooks      
|...
```

In [2]:
# check current working directory
os.getcwd()

'C:\\Users\\fanfan\\Documents\\Capstone\\DSCI_591_capstone-BCStats\\notebooks'

In [3]:
# # change the working directory to the bert directory
os.chdir('C:\\Users\\fanfan\\Documents\\Capstone\\DSCI_591_capstone-BCStats\\BERT_method\\bert')
os.getcwd()

'C:\\Users\\fanfan\\Documents\\Capstone\\DSCI_591_capstone-BCStats\\BERT_method\\bert'

In [4]:
# load packages
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

In [5]:
# read in 2018 qualitative data
df_2018 = pd.read_csv("../../data/interim/train_2018-qualitative-data.csv")
df_2018.head()
#df_2018['Unnamed: 0']

,Unnamed: 0,_telkey,2018 Comment,Code 1,Code 2,Code 3,Code 4,Code 5,CPD,CB,...,VMG_Improve_collaboration,VMG_Improve_program_implementation,VMG_Public_interest_and_service_delivery,VMG_Review_funding_or_budget,VMG_Keep_politics_out_of_work,VMG_other,OTH_Other_related,OTH_Positive_comments,OTH_Survey_feedback,Unrelated
0,0,192723-544650,I would suggest having a developmental growth ...,62,13,NaN,NaN,NaN,1,0,...,0,0,0,0,0,0,0,0,0,0
1,1,188281-540434,Base decisions regarding fish and wildlife on ...,116,NaN,NaN,NaN,NaN,0,0,...,0,0,0,0,1,0,0,0,0,0
2,4,174789-230694,Get rid of Leading Workplace Strategies and gi...,51,NaN,NaN,NaN,NaN,0,0,...,0,0,0,0,0,0,0,0,0,0
3,7,185914-180608,We are the lowest paid in Canada with a worklo...,24,62,NaN,NaN,NaN,0,1,...,0,0,0,0,0,0,0,0,0,0
4,8,189099-732978,Official acknowledgement of the limited divers...,35,62,NaN,NaN,NaN,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
categories = df_2018.loc[:,'CPD':'OTH'].columns.tolist()
categories

['CPD',
 'CB',
 'EWC',
 'Exec',
 'FWE',
 'SP',
 'RE',
 'Sup',
 'SW',
 'TEPE',
 'VMG',
 'OTH']

In [7]:
# Creating train and dev dataframes according to BERT
df_bert = pd.DataFrame({'user_id':df_2018['_telkey'],
            'label':df_2018['CPD'],
            'alpha':['a']*df_2018.shape[0],
            'text':df_2018['2018 Comment'].replace(r'\n',' ',regex=True)})
#df_bert = df_bert.iloc[0:200,:]
df_bert.head()

,user_id,label,alpha,text
0,192723-544650,1,a,I would suggest having a developmental growth ...
1,188281-540434,0,a,Base decisions regarding fish and wildlife on ...
2,174789-230694,0,a,Get rid of Leading Workplace Strategies and gi...
3,185914-180608,0,a,We are the lowest paid in Canada with a worklo...
4,189099-732978,0,a,Official acknowledgement of the limited divers...

In [8]:
df_bert_train, df_bert_dev = train_test_split(df_bert, test_size=0.15,random_state=2019)

In [9]:
# Creating test dataframe according to BERT
df_test = pd.read_csv("../../data/interim/test_2018-qualitative-data.csv")
#df_test = df_test.iloc[0:60,:]
df_bert_test = pd.DataFrame({'User_ID':df_test['_telkey'],
                 'text':df_test['2018 Comment'].replace(r'\n',' ',regex=True)})
df_bert_test.head()

         User_ID                                               text
0  194791-949508                                  The compensation.
1  174648-027372  compare type of work; expertise required; and ...
2  176038-900440  Greater support for mobile work options and in...
3  173698-669014          Consistent direction by all Supervisors.
4  175136-609856  Sound - working in an open area, it can be; ve...

In [10]:
# Saving dataframes to .tsv format as required by BERT
df_bert_train.to_csv('./data/train.tsv', sep='\t', index=False, header=False)
df_bert_dev.to_csv('./data/dev.tsv', sep='\t', index=False, header=False)
df_bert_test.to_csv('./data/test.tsv', sep='\t', index=False, header=True)

### Run the below command on terminal:
```
python run_classifier.py  
--task_name=cola  
--do_train=true  
--do_eval=true  
--do_predict=true 
--data_dir=./data 
--vocab_file=./cased_L-12_H-768_A-12/vocab.txt 
--bert_config_file=./cased_L-12_H-768_A-12/bert_config.json 
--init_checkpoint=./cased_L-12_H-768_A-12/bert_model.ckpt 
--max_seq_length=400 
--train_batch_size=8 
--learning_rate=2e-5 
--num_train_epochs=3.0  
--output_dir=./bert_output 
--do_lower_case=False 
```

bert_train: 50 comments, bert_test:15 comments
<br>
start: 2:14 pm 
<br>
end: 2:24 pm

bert_train: 100 comments, bert_test:30 comments
<br>
start: 2:32 pm
<br>
end: 2:43 pm

bert_train: 200 comments, bert_test:60 comments
<br>
start: 3:08 pm
<br>
end: 3:12 pm

bert_train: all 2018 trainning dataset, bert_test:all 2018 test dataset
<br>
start: 6:15 pm
<br>
end:

In [58]:
# converts the results from BERT model to .csv format
df_results = pd.read_csv("bert_output/test_results.tsv",sep="\t",header=None)
df_results_csv = pd.DataFrame({'User_ID':df_test['_telkey'],
                               'bert_CPD':df_results.idxmax(axis=1),
                               'true_CPD':df_test['CPD']})
 
# writing into .csv
df_results_csv.to_csv('data/bert_result.csv',sep=",",index=None)

In [59]:
df_results

           0         1
0   0.388522  0.611478
1   0.842209  0.157791
2   0.879559  0.120441
3   0.766596  0.233404
4   0.923327  0.076673
5   0.872127  0.127873
6   0.837002  0.162998
7   0.921366  0.078634
8   0.902682  0.097318
9   0.836900  0.163100
10  0.900506  0.099494
11  0.899032  0.100968
12  0.918455  0.081545
13  0.779523  0.220477
14  0.887391  0.112609
15  0.822628  0.177372
16  0.612366  0.387634
17  0.782049  0.217951
18  0.889299  0.110701
19  0.843696  0.156304
20  0.854898  0.145102
21  0.886899  0.113101
22  0.187659  0.812341
23  0.895742  0.104258
24  0.826530  0.173470
25  0.901017  0.098983
26  0.860777  0.139223
27  0.902001  0.097999
28  0.824592  0.175408
29  0.905588  0.094412
30  0.899476  0.100524
31  0.744763  0.255237
32  0.881250  0.118750
33  0.884473  0.115527
34  0.546673  0.453327
35  0.610094  0.389906
36  0.679324  0.320676
37  0.816753  0.183247
38  0.857958  0.142042
39  0.770529  0.229471
40  0.807280  0.192720
41  0.697618  0.302382
42  0.872189  0.127811
43  0.845474  0.154526
44  0.859303  0.140697
45  0.757753  0.242247
46  0.835039  0.164961
47  0.922901  0.077099
48  0.906766  0.093234
49  0.856509  0.143491
50  0.842745  0.157255
51  0.903103  0.096897
52  0.775422  0.224578
53  0.874895  0.125105
54  0.619752  0.380249
55  0.929246  0.070754
56  0.811375  0.188625
57  0.837755  0.162245
58  0.165889  0.834111
59  0.668227  0.331773

In [60]:
df_results_csv["diff"] = df_results_csv['bert_CPD'] - df_results_csv['true_CPD']
df_results_csv ["predict correctly?"] = df_results_csv['diff'].apply(lambda x: 'True' if x ==0 else 'False')
df_results_csv.head()

         User_ID  bert_CPD  true_CPD  diff predict correctly?
0  194791-949508         1         0     1              False
1  174648-027372         0         0     0               True
2  176038-900440         0         1    -1              False
3  173698-669014         0         0     0               True
4  175136-609856         0         0     0               True

In [61]:
scores = df_results_csv['predict correctly?'].value_counts()
correct = scores[0]
wrong = scores[1]
print("accuracy", correct/(correct+wrong))

accuracy 0.85